#uploadMusic {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-areas: "input button close" "text text text";
  flex-direction: row;
  gap: 0.5em;
}

#uploadedMusic__fileLabel {
  grid-area: input;
}

#uploadedMusic__save {
  grid-area: button;
}

#uploadedMusic__texts {
  grid-area: text;
}

#uploadedMusic__close {
  grid-area: close;
}

#uploadedMusic__error {
  color: hsl(0, 75%, 40%);
  font-weight: 900;
}

#uploadedMusic__open {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}
